@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

body {
  background-color: blanchedalmond;
  font-family: "Kaushan Script";
  color: crimson;
  font-size: 15px;
  margin: 10px;
}
.container {
  margin: 20px;
}

#pantalla-inicial,
#pantalla-media,
#pantalla-final {
  margin: 20px;
}

.titulo {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 20px;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#instruciones {
  text-align: left;
}

.boton {
  font-family: "Kaushan Script";
  background-color: cornflowerblue;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 10px;
}

.boton:active {
  font-family: "Kaushan Script";
  background-color: azure;
  box-shadow: 0 5px #666;
  transform: translateX(2px);
}

.cartel {
  width: 200px;
  height: 300px;
  border: 8px solid black;
}

#canvas {
  margin-top:20px;
  background-color: darkgoldenrod;
  border: 5px solid cornflowerblue;
  border-style: double;
}

#pantalla-media {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#pantalla-final {
  display: none;
}

#vidas {
  font-size: 20px;
  font-family: "Kaushan Script";
  width: 400px;
}

#puntuacion {
  font-size: 20px;
  font-family: "Kaushan Script";
  width: 400px;
}

#protector{
  font-size: 20px;
  font-family: "Kaushan Script";
  width: 400px;
  }

#chistes {
  color: darkgoldenrod;
  width: 400px;
  margin-bottom: 20px;
}
